@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=DM+Serif+Display:ital@0;1&family=Geologica:wght@100..900&family=Goldman:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --bg-color: #0e1a1f;
  --white-color: #ffffff;
  --primary-color: #00c1ff;
  --secondary-color: #8c44d3;
  --card-color: #bdbdc1;
}

.blue {
  color: var(--primary-color);
}

::selection {
  background-color: var(--primary-color);
  color: black;
}

body {
  background-color: var(--bg-color);
  box-sizing: border-box;
}

nav {
  background-color: rgb(0 0 0 / 50%);
  backdrop-filter: blur(5px);
  position: fixed;
  width: 100%;
  height: 60px;
  margin-bottom: 30px;
  z-index: 5;
}

nav ul {
  padding: 0 20px;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 25px;
}

ul li {
  list-style: none;

  a {
    text-decoration: none;
    color: var(--white-color);
  }

  font-family: "Geologica",
  sans-serif;
}

#logo {
  margin-right: auto;
  font-family: "Goldman", sans-serif;
  font-size: 2em;
  text-shadow: 0px 0px 5px rgb(173 234 255 / 45%);
}

#logo a {
  color: var(--primary-color);
}

.active {
  border-bottom: 2px solid var(--primary-color);
}

main {
  padding-top: 150px;
}

.bg-blend {
  position: absolute;
  inset: 0;
  background-image: url(../static/images/bg_img/Nav_bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  mix-blend-mode: color;
  z-index: -1;
}

#search-section {
  display: flex;
  justify-content: center;
  padding: 0 3.5vw;

  select {
    padding: 5px;
    cursor: pointer;
    font-size: medium;
    width: clamp(45px, 60px, 60px);
    border: none;
    border-right: 2px solid grey;
    outline: none;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 5px 4px 0px 2px rgb(0, 0, 0);
  }

  input {
    padding: 15px;
    width: clamp(280px, 90%, 904px);
    height: clamp(50px, 6vw, 60px);
    border: none;
    outline: none;
    font-family: "Geologica", sans-serif;
    font-size: 1.2rem;
    box-shadow: 5px 4px 0px 2px rgb(0, 0, 0);
  }

  #search {
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 5px 4px 0px 2px rgb(0, 0, 0);
    width: clamp(45px, 60px, 60px);
    height: clamp(50px, 6vw, 60px);

    #img {
      padding: 10px;
      width: clamp(45px, 60px, 60px);
      height: clamp(50px, 6vw, 57px);
      border-radius: 0px 10px 10px 0px;
    }

  }

  #search:hover {
    background-color: #BAB1C1;
  }

  #search:active {
    background-color: var(--primary-color);
  }

}

#head {
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50vw;
  padding: 0 3vw;
  transition: all 0.3s ease-in-out;
}

.left {
  width: 30vw;
  display: flex;
  align-items: center;
  font-family: "Geologica", sans-serif;
  font-style: italic;
  font-size: 1.8vw;
  color: var(--white-color);
}

.right {
  display: flex;
  align-items: center;
  gap: 30px;

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

#prod_cards {
  background-image: url(../static/images/bg_img/Star_3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 clamp(20px, 4.5vw, 70px);
  gap: clamp(30px, 5vw, 80px);
  margin-top: 30px;

}

.card {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-family: "Geologica", sans-serif;
  background-color: var(--card-color);
  width: clamp(250px, 80%, 330px);
  height: clamp(300px, 50vw, 400px);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 4px 0px 2px rgb(0, 0, 0);
  transition: all 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 5px 4px 0px 5px var(--secondary-color);
}

.product_img {
  background-color: var(--white-color);
  width: 100%;
  height: 50%;
  border-radius: 10px;
  overflow: hidden;

  img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.category {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 20%;
  height: 7%;
  font-weight: 700;
  border-radius: 5px;
}

.info {
  display: flex;
  align-items: center;
  width: 100%;
  height: 16%;
  font-weight: 500;
  overflow: hidden;
}


.prc_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.onsite {
  font-family: "Geologica", sans-serif;
  margin: auto;
  background-color: var(--primary-color);
  display: flex;
  height: 8%;
  width: 40%;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  font-size: large;
  font-weight: 600;
  gap: 5px;
  cursor: pointer;
}

.price{
  font-size: 1.2em;
}

.onsite:active {
  background-color: #0291c0;
}

.drop-down {
  border-radius: 5px;
  width: auto;
  min-width: 80px;
  max-width: 500px;
  padding: 3px;
  height: 35px;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-family: 'Geologica';
  font-size: 1.4rem;
  cursor: pointer;
  transition: width 0.5s ease;
}

.drp {
  display: inline-block;
  width: 30px;
  transition: all 0.3s ease-in-out;
}

.rotate {
  transform: rotate(180deg);
}

.reloadts {
  animation: spin 0.8s linear forwards;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.drp_list {
  list-style: none;
  position: absolute;
  display: grid;
  font-family: "Geologica", sans-serif;
  height: 40vh;
  transition: all 0.5s ease-in-out;
  font-size: 1.4vw;
  background-color: var(--white-color);
  top: 314px;
  max-height: 0;
  overflow: hidden;
  border-radius: 0px 10px 10px 10px;
}

.drp_list.show {
  max-height: 40vh;
    box-shadow: 5px 4px 0px 2px rgb(0, 0, 0);
}

.drp_list li {
  padding: 12px 6px;
  cursor: pointer;
}

.drp_list li:hover {
  background-color: var(--secondary-color);
  color: var(--white-color);
}

.skeleton {
  background-color: #ccc;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.skeleton-img,
.skeleton-title,
.skeleton-line,
.skeleton-button {
  background: #c0c0c0;
  position: relative;
  overflow: hidden;
}

.skeleton-img {
  border-radius: 10px;
  height: 180px;
  width: 100%;
}

.skeleton-title {
  border-radius: 5px;
  height: 25px;
  border-radius: 5px;
  width: 20%;
  margin-bottom: 7px;
}

.skeleton-line {
  height: 14px;
  width: 100%;
  border-radius: 5px;
  margin-top: 14px;
}

.skeleton-line.short {
  width: 50%;
  border-radius: 5px;
  margin-bottom: 40px;
}

.skeleton-button{
  height: 30px;
  width: 35%;
  border-radius: 5px;
  margin-top: 50px;
  margin: auto;
}

.shimmer::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150px;
  height: 100%;
  width: 150px;
  background: linear-gradient(to right, transparent 0%, rgba(255, 255, 255, 0.4) 50%, transparent 100%);
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    left: -150px;
  }

  100% {
    left: 100%;
  }
}