<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="Price Spy will provide you the lowest prices for the products you are looking for" />
  <meta name="keywords"
    content="low prices, best deals, price comparison, affordable price, discount finder, online shopping, best offers, save money, product prices, price tracker" />
  <title>PriceSpy - Shop Smarter</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='landing.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}" />
</head>

<body>
  <nav>
    <ul>
      <li id="logo"><a href="landingPage.html">Price Spy</a></li>
      <li><button id="sign-in" class = ''>Sign in</button></li>
      <li class="user hide"><img src="{{ url_for('static' , filename = 'images/img/userIcon.png')}}"></li>
    </ul>
  </nav>
  <div class="sign-in-card hide">
    <h1 class="blue">Welcome,</h1>
    <h2>sign in to continue</h2>
    <button id="google_auth"><img width="70px" src="{{ url_for('static', filename='images/img/Google.svg') }}"
        alt="Google"> Continue with google</button>
    <center><span>OR</span></center>
    <div class="emlid">
      <img width="35px" src="{{ url_for('static', filename='images/svg/person.svg')}}">
      <input type="email" id="email" placeholder="Email" required>
    </div>
    <button disabled id="send_otp" class="disabled">Send OTP</button>
    <div class="otp">
      <img width="35px" src="{{ url_for('static', filename='images/svg/lock.svg')}}">
      <input type="text" id="otp" placeholder="Enter OTP" maxlength="6" required>
    </div>
    <button disabled id="verify" class="disabled">Verify <img
        src="{{ url_for('static', filename='images/svg/Arrow_Fwd.svg')}}"></button>
    <p id="auth_message"></p>
  </div>
  <div class="ovrly_s hide"></div>
  <main id="hero">
    <div class="hero_txt">
      <h1 class="head_h">
        Tired of Switching Between
        <center>E-Commerce sites?</center>
      </h1>
      <p class="para_h">
        Let <span class="blue">Price Spy</span> do the hard work for you!
        Compare prices across platforms in seconds and
        <span class="blue">shop smarter</span>.
      </p>
      <div class="start-btn">
        <button class="getstart">
          Get Started <img id="arrow" src="{{ url_for('static', filename='images/svg/Arrow.svg')}}" />
        </button>
      </div>
    </div>
    <div class="hero_img">
      <img width="500px" src="{{ url_for('static', filename='images/img/HeroMain.png')}}"
        alt="People searching for great deals" />
    </div>
  </main>
  <section id="cards">
    <img id="bstr" src="{{ url_for('static', filename='images/bg_img/Star.png')}}" alt="star" />
    <div class="c-txt">
      <h1 class="c-head">
        Your ultimate One-Stop Solution for
        <span class="blue">Smarter Online Shopping</span>
      </h1>
    </div>
    <div class="tri-cards">
      <div class="card-one">
        <h2 class="c-1">
          Instant Price Comparison Across Multiple Platforms
        </h2>
        <img src="{{ url_for('static', filename='images/img/compr_card1.png')}}"
          alt="people checking websites for good deals" />
        <h2 class="c-bottom">01</h2>
      </div>
      <div class="card-two">
        <div class="adjust">
          <h2 class="c-2">
            Effortless Access to the Best Deals in One Click
          </h2>
        </div>
        <img src="{{ url_for('static', filename='images/img/one_click 1_card2.png')}}"
          alt="Person accessing the site in just one click" />
        <h2 class="c-bottom">02</h2>
      </div>
      <div class="card-three">
        <h2 class="c-3">
          Designed for an Intuitive and Hassle-Free Experience
        </h2>
        <img src="{{ url_for('static', filename='images/img/ui1_card3.png')}}"
          alt="Showing a good ui which is also responsive making it user efficient" />
        <h2 class="c-bottom">03</h2>
      </div>
    </div>
  </section>
  <section id="stm">
    <h1 class="c-head">
      Designed to <span class="blue">Save</span> Your Valuable
      <span class="blue">Time</span> &
      <span class="blue">Spent Smartly</span>
    </h1>
    <div class="sbsn">
      <div class="lst-bx" id="lst-1">
        <img src="{{ url_for('static', filename='images/img/sand_clk.png')}}" alt="Sand Clock" />
        <h2 class="lst">Saves your Time</h2>
      </div>
      <div class="lst-bx" id="lst-2">
        <img src="{{ url_for('static', filename='images/img/Que_spy.png')}}" alt="Question Mark" />
        <h2 class="lst">Buy Without Doubts</h2>
      </div>
      <div class="lst-bx" id="lst-3">
        <img src="{{ url_for('static', filename='images/img/money_spy.png')}}" alt="Money" />
        <h2 class="lst">Save More Than Others</h2>
      </div>
      <div class="lst-bx" id="lst-4">
        <img src="{{ url_for('static', filename='images/img/Notify_spy.png')}}" alt="Notification Bell" />
        <h2 class="lst">Never Miss Your Favourite Deals</h2>
      </div>
    </div>
    <div class="bottom">
      <h2><span class="blue">Save Big</span>, Your Wallet Will</h2>
      <h2 class="blue m-30">Thank You</h2>
      <center>
        <div class="start-btn">
          <button class="getstart">
            Get Started <img id="arrow" src="{{ url_for('static', filename='images/svg/Arrow.svg')}}" />
          </button>
        </div>
      </center>
    </div>
  </section>
  <footer>
    <h2>© 2025 All Rights Reserved</h2>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
    integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
    integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="{{ url_for('static', filename='landing.js') }}"></script>
  <script src="{{ url_for('static', filename='auth.js') }}"></script>
</body>


</html>